body{
    background-color: dodgerblue;
    font: normal 25pt arial;
}

header{
    color: rgb(255, 253, 253);
    text-align: center;
    padding-left: 10px;
}

main{
    background-color: aliceblue;
    width: 1200px;
    border-radius: 50px;
    margin: auto;
    color: black;
    text-align: center;
    padding-bottom: 25pt;
    box-shadow: 20px 20px;
}

img#lado{
    background-color: aliceblue;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 1250px;
    margin-to;
    
}